@import url("https://www.shutterstock.com/image-illustration/contact-icons-on-gray-background-260nw-1497394331.jpg");
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body{
min-height: 100vh;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;

}
header{
    height: 100vh;
    width: 100vw;
    background-image: url(https://www.shutterstock.com/image-illustration/contact-icons-on-gray-background-260nw-1497394331.jpg);
    background-size: cover;
}